{% extends "base.html" %}
{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
    Event Planner - Events
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "home/events.css" %}">
{% endblock %}

{% block content %}
    {% include 'home/widgets/navbar_widget.html' %}

    <div id="content">
        <div id="user-events">
            {% include 'home/widgets/events_list.html' %}
        </div>

        <div id="event-form">
            <h1>Create Event</h1>
            <form method="POST" action="{% url 'home:events' %}" enctype="multipart/form-data"> {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info">Create Event</button>
            </form>
        </div>
    </div>

{% endblock %}