{% extends "base.html" %}
{% load static %}

{% block title %}
	Event Planner - Friends
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "home/main.css" %}">
    <link rel="stylesheet" href="{% static "home/friends.css" %}">
{% endblock %}

{% block content %}
    {% include 'home/widgets/navbar_widget.html' %}
    <div id="content">
        <div id="user_friends">
            {% include 'home/widgets/friends_widget.html' %}
        </div>

        <div id="maybe_friends">
            {% include 'home/widgets/maybe_friends_widget.html' %}
        </div>

    </div>
{% endblock %}