{% extends "base.html" %}

{% load static %}
{% block title %}
    Calendar
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "home/friends.css" %}">
    <link rel="stylesheet" href="{% static "home/events.css" %}">
    <link rel="stylesheet" href="{% static "home/main.css" %}">
{% endblock %}

{% block content %}
    {% include 'home/widgets/navbar_widget.html' %}

    <div id="content">
        <div id="friends">
            <div id="invitation-list">{% include 'home/widgets/invitations_list.html' %}</div>
        </div>

        <div id="calendar">
            {% include 'home/widgets/events_list.html' %}
        </div>
    </div>
{% endblock %}