#login-div{
    background-color: var(--my-bg);
    width: 25%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    border-radius: 30px;
    text-align: center;
}

#login-div h1{
    display: block;
    margin: 1.5rem auto;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    border-bottom: 0.1rem dashed var(--lines);
}

.form-control,
.form-control-invalid{
  margin-bottom: 1rem;
}

.form-control label,
.form-control-invalid label{
    margin-bottom: 0.5rem;
    display: block;
}

.form-control input,
.form-control textarea,
.form-control-invalid input,
.form-control-invalid textarea{
  display: block;
  width: 60%;
  font: inherit;
  margin: 0 auto;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}



.form-control-invalid input,
.form-control-invalid textarea{
    border: 1px solid var(--error-line);
    color: var(--error-font-color);
    background-color: var(--error-bg);
}


#login-div button {
    background-color: var(--lines);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 0 0 1rem;

}

.error-alert,
.login-error-alert{
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.error-alert li,
.login-error-alert li{
    list-style: none;
}

.login-error-alert{
    margin-bottom: 0.9rem;
}



/* Add a hover effect for buttons */
#login-div button:hover {
  opacity: 0.8;
}
#a-div{
    margin: 0.5rem 0 0.5rem 0;
}
#login-div a{
    text-decoration: none;
    color: var(--lines);
    cursor: pointer;
}

#login-div a:hover{
    color: var(--lines-hover);
}


