{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "login/login.css" %}">
{% endblock %}

{% block content %}
	<div id="login-div">
        <form  method="POST" action="{% url 'login_template' %}">
            {% csrf_token %}
            <h1>Log in</h1>
                {% if errors %}
                        <div class="login-error-alert">
                            {{ errors }}
                        </div>
                {% endif %}
            {% for form_field in authentication_form %}
                <div class="form-control{% if errors %}-invalid{% endif %}">
                    {{ form_field }}

                </div>
            {% endfor %}
            <button type="submit">Log in</button>
        <div id="a-div">
            <a href={% url 'password-reset' %}>Forgot Password?</a>
            <a href="{% url 'sign-up' %}">Sign Up</a>
        </div>
        </form>
    </div>
{% endblock %}