{% extends 'base.html' %}
{% load static %}
{% block title %}
    Forgot Password
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "login/login.css" %}">
{% endblock %}

{% block content %}
	<div id="login-div">
        <p>Password reset email has been send. Check your email. If You do not receive the email please
                       make sure you have entered the address you registered with, and check your spam folder.<p>
        <div id="a-div">
            <a href="{% url 'home-page' %}">Home page</a> <br>
            <a href="{% url 'login_template' %}">Log-in</a>
        </div>

    </div>
{% endblock %}