{% extends 'base.html' %}
{% load static %}
{% block title %}
    Forgot Password
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "login/login.css" %}">
{% endblock %}

{% block content %}
	<div id="login-div">
         <form  method="POST">
            {% csrf_token %}
            <h1>Change password</h1>
            {% for form_field in form %}
                <div class="form-control{% if form_field.errors %}-invalid{% endif %}">
                    {{ form_field }}
                    {% if form_field.errors %}
                        <div class="error-alert">
                            {{ form_field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Change password</button>
         </form>

        <div id="a-div">
            <a href="{% url 'home:home-page' %}">Home page</a> <br>
            <a href="{% url 'login:login_template' %}">Log-in</a>
        </div>

    </div>
{% endblock %}