{% extends 'base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "login/login.css" %}">
    <link rel="stylesheet" href="{% static "login/registration.css" %}">

{% endblock %}

{% block content %}
	<div id="login-div">
        <form  method="POST" action="{% url 'sign-up' %}">
            {% csrf_token %}
            <h1>Sign up</h1>
            {% for form_field in form %}
                <div class="form-control{% if form_field.errors %}-invalid{% endif %}">
                    {{ form_field }}
                </div>
            {% endfor %}
            <button type="submit">Sign up</button>
            <div id="a-div">
                <a href="{% url 'login_template' %}">Already have account? Log in</a>
            </div>
        </form>
    </div>
{% endblock %}