{% extends 'base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "login/login.css" %}">
    <link rel="stylesheet" href="{% static "login/registration.css" %}">

{% endblock %}

{% block content %}
	<div id="login-div" style="top: 300px">
        <form  method="POST" action="{% url 'login:sign-up' %}">
            {% csrf_token %}
            <h1>Sign up</h1>
            {% for form_field in form %}
                <div class="form-control{% if form_field.errors %}-invalid{% endif %}">
                    {{ form_field }}
                    {% if form_field.errors %}
                        <div class="error-alert">
                            {{ form_field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Sign up</button>
            <div id="a-div">
                <a href="{% url 'login:login_template' %}">Already have account? Log in</a>
            </div>
        </form>
    </div>
{% endblock %}