{% extends 'base.html' %}
{% load static %}
{% block title %}
    Forgot Password
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "login/login.css" %}">
{% endblock %}

{% block content %}
	<div id="login-div">
        <form  method="POST">

            {% csrf_token %}
            <h1>Reset Password</h1>
            {% for form_field in form %}
                <div class="form-control{% if form_field.errors %}-invalid{% endif %}">
                    {{ form_field }}
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        <div id="a-div">
            <a href="{% url 'sign-up' %}">Create new account</a> <br>
            <a href="{% url 'login_template' %}">Back to Log-in</a>
        </div>
        </form>
    </div>
{% endblock %}