{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<h1>Events</h1>

{% for event in events %}
    <div class="event-wrapper">
        <a href="{% url 'home:event_detail' event.slug %}">
            <div class="text">
                <h2>{{ event.title }}</h2>
                <p>{{ event.place }}</p>
                <p>{{ event.date }}</p>
            </div>
            <div class="image">
                <img src="{{ event.event_picture.url }}">
            </div>
        </a>
    </div>
{% endfor %}


