{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<ul class="friend_list">
    <h1>Meet New Friends</h1>
    {% for friend in proposed %}
        <div class="friend_wrapper">
            <a href="{% url 'home:user_detail' friend.pk %}">
                <li>
                    <img src="{{ friend.profile_picture.url}}">
                    <p>{{ friend.username }}</p>
                    <form method="POST" action="{% url 'home:friends_modification' friend.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="follow">
                        <button type="submit" class="btn btn-success" style=" position: absolute; right: 10%; top: 30%">
                            Follow</button>

                    </form>
                </li>
            </a>
        </div>
    {% endfor %}
</ul>