
#content {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #41B3A3;
    align-items: center;
    padding: 5%;
    margin: 0 auto;
}

#friends{
    order:1;
    flex-grow: 1;
    background-color: red;
}

#calendar{
    order:2;
    flex-grow: 3;
    background-color: yellow;
}